@{
    ViewData["Title"] = "Home Page";
}

<div class="row bg-primary-subtle">
	<TABLE class="bg-primary-subtle align-center m-0 p-0">
		<tr>
			<td class="border-0 border-dark m-0 p-0">
				<div class="row">
					<div class="col-sm-1"></div>
					<div class="col-sm-10 bg-dark-subtle">
						<div class="row">

							<div class="col-md-1 bg-info-subtle"></div>
							<div class="col-md-3 bg-dark-subtle">
								<b>&nbsp;<u>Τα Γενικά</u></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="http://www.facebook.com">Facebook</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="http://www.google.com">Google</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="http://www.youtube.com">Youtube</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="http://www.hotmail.com">Hotmail</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="http://mail.yahoo.com">Yahoo</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="https://accounts.google.com/ServiceLogin/signinchooser?continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&service=mail&flowName=GlifWebSignIn&flowEntry=ServiceLogin">G-Mail</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="http://twitter.com/">Twitter</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="https://www.instagram.com/">Instagram</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="https://www.linkedin.com/">Linkedin</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="https://www.twitch.tv/">Twitch</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="https://open.spotify.com/">Spotify</a></b><br>
								<br>
								<b>&nbsp;<u>Ο Καιρός Της Ξάνθης</u></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="http://freemeteo.gr/kairos/ksanthi/7-imeres/pinakas/?gid=733840&language=greek&country=greece">ΞΑΝΘΗ (Freemeteo)</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="http://www.meteo.gr/cf.asp?city_id=41">ΞΑΝΘΗ (Meteo)</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="http://www.weather.gr/en/greece/west%20macedonia%20thrace/weather-Xanthi-48?i=1">ΞΑΝΘΗ (Weather)</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="https://weather.com/weather/hourbyhour/l/GRXX0080:1:GR">ΞΑΝΘΗ (The Weaather)</a></b><br>
								<br>
								<b>&nbsp;<u>Τα Σπορ</u></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="http://www.xanthifc.gr/">ΞΑΝΘΗ FC</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="http://www.aekfc.gr/?lang=el">ΑΕΚ</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="https://arisfc.com.gr/">ΑΡΗΣ</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="http://www.olympiacos.org/">Ολυμπιακός</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="http://www.pao.gr/">Παναθηναϊκός</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="http://www.paok.gr/">ΠΑΟΚ</a></b><br>
								<br>
								<b>&nbsp;<a class="text-decoration-none" href="http://www.in.gr/sports/">IN GR SPORT</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="http://xanthi-sport.gr/">ΞΑΝΘΗ SPORT</a></b><br>
								<br>
							</div>
							<div class="col-md-3 bg-secondary-subtle">
								<b>&nbsp;<u>Οι Εφημερίδες</u></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="http://www.e-typos.com/">ΕΛΕΥΘΕΡΟΣ ΤΥΠΟΣ</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="http://www.espressonews.gr/">ESPRESSO</></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="http://www.kathimerini.gr/">Η ΚΑΘΗΜΕΡΙΝΗ</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="http://www.efsyn.gr/">Η ΕΦ. ΣΥΝΤΑΚΤΩΝ</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="http://www.rizospastis.gr/">Ο ΡΙΖΟΣΠΑΣΤΗΣ</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="http://www.protothema.gr/">ΠΡΩΤΟ ΘΕΜΑ</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="http://www.tanea.gr/">ΤΑ ΝΕΑ</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="http://www.tovima.gr/">ΤΟ ΒΗΜΑ</a></b><br>
								<br>
								<b>&nbsp;<a class="text-decoration-none" href="http://www.euro2day.gr/">EURO TODAY</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="http://www.in.gr/">IN GR NEWS</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="http://www.news.gr/">NEWS GR</a></b><br>
								<br>
								<b>&nbsp;<u>Οι Τοπικές Εφημερίδες</u>&nbsp;&nbsp;&nbsp;&nbsp;</b><br>
								<b>&nbsp;<a class="text-decoration-none" href="https://www.adesmeuti.gr/">ΑΔΕΣΜΕΥΤΗ</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="http://www.empros.gr/">ΕΜΠΡΟΣ</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="http://maxitisthrakis.blogspot.com/">ΜΑΧΗΤΗΣ</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="http://www.thrakitoday.com/">THRAKI TODAY</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="http://fonitisxanthis.gr/">ΦΩΝΗ ΤΗΣ ΞΑΝΘΗΣ</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="http://xanthinews.gr/">XANTHI NEWS</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="http://www.xanthipress.gr/">XANTHI PRESS</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="http://www.xanthitimes.gr/">XANTHI TIMES</a></b><br>
								<br>
								<b>&nbsp;<u>Οι Τράπεζες</u>&nbsp;&nbsp;&nbsp;&nbsp;</b>
								<br>
								<b>&nbsp;<a class="text-decoration-none" href="https://secure.alpha.gr/Login/myalphaweb/el">Alpha Bank</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="https://www.winbank.gr/sites/idiwtes/el/Pages/default.aspx">Πειραιώς ιδιώτες</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="https://www.winbank.gr/sites/corporate/el/Pages/default.aspx">Πειραιώς επιχειρήσης</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="https://ebanking.eurobank.gr/#/login">Eurobank</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="https://ibankpay.nbg.gr/sts/Account/login/ibank4Bportal">Εθνική</a></b>
								<br>
							</div>
							<div class="col-md-3 bg-dark-subtle">
								<b>&nbsp;<u>Τα Ζωντανά -TV-</u></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="http://www.alphatv.gr/webtv/live">ALPHA Live</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="https://www.megatv.com/live/">Mega Live</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="https://www.tvopen.gr/live-tv">Open TV Live</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="https://www.ertlivetv.com/">ERT Live</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="https://www.ertflix.gr/epg/channel/ert-news">ERT News Live</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="https://www.skaitv.gr/live">SKY Live</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="http://www.star.gr/tv/el/Pages/LiveVideo.aspx">STAR Live</a></b><br>
								<br>
								<b>&nbsp;<a class="text-decoration-none" href="http://www.greektvlive.net/">GREEK TV Live</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="http://www.tvradiogr.com/tv-channels/">TV & Radio From GREECE</a></b><br>
								<br>
								<b>&nbsp;<u>Τα Κρυπτογραφημένα Κ.</u></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="https://livetv749.me/en/">Live TV</a></b><br>
								<br>
								<b>&nbsp;<u>Τα Ζωντανά Αποτελέσματα</u></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="https://www.livescore.in/gr/">Live Score In</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="http://www.livescores.com/">Live Score</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="http://www.livescorehunter.com/football.html">Live Score Hunter</a>&nbsp;</b><br>
								<br>
								<b>&nbsp;<u>Download Video & MP3</u></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="http://www.flvto.biz/">Youtube MP3 & Video 1</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="https://y2mate.com/">Youtube MP3 & Video 2</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="https://en.loader.to/4/">Youtube MP3 & Video 3</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="https://www.freemake.com/free_video_downloader_skillful/">Youtube MP3 & Video 3</a></b><br>
								<br>
								<b>&nbsp;<u>Οι Γιατροί</u></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="https://www.e-prescription.gr/epres">Ε-Συνταγογράφηση New</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="https://www.e-prescription.gr/portal/">Ε-Συνταγογράφηση Portal</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="https://www.e-prescription.gr/e-pre/">Ε-Συν. 2 New</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="https://www.e-prescription.gr/e-pre/faces/Login?Adf-Window-Id=w4&_afrLoop=223379011172955&_afrWindowMode=0&_adf.ctrl-state=zx6votg45_35&_afrRedirect=223379131141528">Ε-Συνταγογράφηση</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="https://www.e-prescription.gr/e-pre/faces/welcome?fbclid=IwAR1yRG8U9GyANn4aaTJ5xb70vLdrPLI0rQlS1G17cg14po84ykVcOG4bj6E">Ε-Συν. 2</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="https://eservices.eopyy.gov.gr/eMaterialPrescription/login.xhtml;eMATERIALPRESCRIPTIONID=nPmTpVSS26tTJbXp1bTMVypKdFHwtLnnMvppq9qrJrC1CdRlBgP0!729526169?fbclid=IwAR0O8pgg-l4xKfkgtCTvhsVLn3iEgO4vzlaNMnVu3n6CVhN1co940k1HLLA">ΕΚΠΥ</a></b><br>
								<b>&nbsp;<a class="text-decoration-none" href="https://www.eopyy.gov.gr/eservices/doctor/E2EFE5C3-9894-4FE6-90E0-636CDE4D928C">EOPYY All</a></b><br><br><br><br><br>
							</div>
							<div class="col-md-1 bg-info-subtle"></div>
							<div class="col-md-1 bg-primary-subtle"></div>

						</div>
					</div>
					<div class="col-sm-1">
					</div>
				</div>
			</td>
		</tr>
	</TABLE>
</div>